<div class="form-group row" >

  <label class="col-sm-2 col-form-label">Room number</label>
  <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="RoomNumber"
      placeholder="Enter the room number">
      <br>
  </div>

  <label class="col-sm-2 col-form-label">The room sum</label>
  <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="RoomSum"
      placeholder="Enter the sum">
      <br>
  </div>



  <label class="col-sm-2 col-form-label">Reserve status</label>
  <div class="col-sm-10">
    <label class="checkbox-inline">
      <input type="checkbox" name="IsReserved" [(ngModel)]="IsReserved">
      Is Reserved
    </label>
      <br>
  </div>




  <!-- dropdown -->

  <label class="col-sm-2 col-form-label" *ngIf="Adding" >Hotel</label>
  <div class="col-sm-10" *ngIf="Adding">
    <mat-form-field >

      <mat-label >  Choose hotel  </mat-label>

        <mat-select  (selectionChange)="onChangeHotel($event.value)">

          <mat-option value="">
             ...

          </mat-option>

          <mat-option *ngFor="let dataItem of HotelList" [value]="dataItem.id">

            {{dataItem.hotel_Name}}
          </mat-option>

        </mat-select>

        <br>


    </mat-form-field>
      <br>
  </div>

  <!-- dropdown -->
  <label class="col-sm-2 col-form-label">Room class</label>
  <div class="col-sm-10">
    <mat-form-field >

      <mat-label >  Choose room class  </mat-label>

        <mat-select  (selectionChange)="onChangeRoomClass($event.value)">

          <mat-option value="">
             ...

          </mat-option>

          <mat-option *ngFor="let dataItem of RoomClassList" [value]="dataItem.id">

            {{dataItem.roomType}}
          </mat-option>

        </mat-select>

        <br>


    </mat-form-field>
      <br>
  </div>

</div>



<br>


<button (click)="updateRoom()"  class="btn btn-primary" *ngIf="!Adding">
  Update
</button>

<button (click)="addRoom()"  class="btn btn-primary" *ngIf="Adding">
  Add Room
</button>
